<!-- <div style="background-image: url('/assets/ground.jpg');"> -->
<!-- <div id="para1" class="container">
    <img src="/assets/ground.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="home">
<h3>Le service Vélib'</h3>
<h5>Tout ce que vous devez savoir sur les nouveaux Vélib’ en quelques minutes</h5>
</div> -->
<!-- <div style="background-image: url('/assets/ground.jpg')" >
<div class="row align-items-center message-header-discover">
    <div class="col-12 col-lg-8 mx-lg-auto text-center mb-5 title-service-container">
        <h1 class="main-title rotated knockout">Le service Vélib'</h1>
        <h4 class="rotated">Tout ce que vous devez savoir sur les nouveaux Vélib’ </h4>
    </div>
</div> -->
<!-- <div class="jumbotron">
    <h5 class="display-8">Des vélos électriques pour raccourcir les distances
    </h5>
    <p class="lead">L’objectif du service Vélib’ Métropole est de faciliter le développement de nouvelles mobilités sur le territoire francilien, en complément de l’offre de transport existante.

        Grâce à 30 % de vélo électrique, les déplacements sont rendus beaucoup plus simples : les usagers Vélib’ voient les distances se raccourcir et se jouent des reliefs sans effort. Dotés d’une autonomie de 50 km et pouvant atteindre une vitesse de 25 km/heure, ces vélos électriques constituent une véritable alternative à l’usage d’un véhicule individuel polluant.
        
        En fonction des usages, le nombre de ces vélos électriques pourra être progressivement augmenté. C’est un des atouts majeurs des nouveaux Vélib’ : un vélo mécanique peut être transformé en vélo électrique en moins de 30 minutes en atelier !</p>
   
    
</div> -->


<!-- Bannière -->
 <!-- <div class="jumbotron text-center">  
      <h1 class="display-4 text-black">
        Le service Vélib'
             </h1>
      <h2 class="text-black">
        Tout ce que vous devez savoir sur les nouveaux Vélib’       </h2>
     
     </div>
<div class="card" style="background-color:cadetblue; border-color:darkblue;">
  <img class="card-img-top" src="/assets/ground.jpg" alt="">
 
</div>    -->
<div class="photo">
<div class="flotte">
    <h1 class="display-5 text-center text-black ">
      Le service Vélib'
           </h1>
    <h2 class="text-center">
      Tout ce que vous devez savoir sur les nouveaux Vélib’       </h2>
    </div>
</div>
